In [1]:
!pip install pymysql sqlalchemy
!pip install mysql
!pip install mysql-connector-python

Requirement already satisfied: pymysql in c:\users\smit shah\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in c:\users\smit shah\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\smit shah\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: mysql in c:\users\smit shah\anaconda3\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in c:\users\smit shah\anaconda3\lib\site-packages (from mysql) (2.2.4)
Requirement already satisfied: mysql-connector-python in c:\users\smit shah\anaconda3\lib\site-packages (9.0.0)

In [2]:
import pandas as pd
import numpy as np
import mysql
import mysql.connector

In [4]:
df = pd.read_csv("D:\MIS\.UMass\Projects\Sales\sales data.csv\Dataset\sales data.csv")

data = pd.DataFrame(df)
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Cost', 'Price', 'Profit', 'Quantity', 'Sales'],
      dtype='object')

In [5]:
orders = df[['Order ID', 'Order Date', 'Ship Date', 'Ship Mode']]
customers = df[['Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Postal Code', 'Region', 'Order ID']]
products = df[['Product ID', 'Category', 'Sub-Category', 'Product Name', 'Cost', 'Price', 'Profit', 'Quantity', 'Sales', 'Customer ID']]

In [6]:
orders.head(1)

         Order ID Order Date Ship Date     Ship Mode
0  CA-2017-152156    8/11/17  11/11/17  Second Class

In [7]:
customers.head(1)

,Customer ID,Customer Name,Segment,City,State,Postal Code,Region,Order ID
0,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,42420.0,South,CA-2017-152156

In [8]:
products.head(1)

,Product ID,Category,Sub-Category,Product Name,Cost,Price,Profit,Quantity,Sales,Customer ID
0,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,464.48,901.06,436.58,4,3604.243977,CG-12520

In [9]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Smit@0101'
)
cursor = conn.cursor()

new_database_name = 'store_sales'

create_database_query = f"CREATE DATABASE IF NOT EXISTS `{new_database_name}`;"
cursor.execute(create_database_query)

cursor.close()
conn.close()

In [10]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Smit@0101',
    database='store_sales'
)
cursor = conn.cursor()

############ ORDER TABLE############################
table_name = 'orders'  # Use your desired table name

# Generate the CREATE TABLE statement based on the DataFrame
columns = ", ".join([f"`{col}` VARCHAR(255)" if orders[col].dtype == object else f"`{col}` INT" for col in orders.columns])
create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns});"
cursor.execute(create_table_query)

# Step 2: Insert the DataFrame into the table
# Convert the DataFrame to a list of tuples for bulk insert
data_f = [tuple(row) for row in orders.itertuples(index=False, name=None)]

# Create the INSERT INTO query dynamically
placeholders = ", ".join(["%s"] * len(orders.columns))  # Create a placeholder for each column
insert_query = f"INSERT INTO `{table_name}` ({', '.join([f'`{col}`' for col in orders.columns])}) VALUES ({placeholders})"
cursor.executemany(insert_query, data_f)

conn.commit()

cursor.close()

conn.close()

In [11]:
#Replace NaN values with Null values in the table
customers = customers.replace({np.nan: None})

In [12]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Smit@0101',
    database='store_sales'
)
cursor = conn.cursor()

############ CUSTOMER TABLE############################
table_name = 'customers'  # Use your desired table name

# Generate the CREATE TABLE statement based on the DataFrame
columns = ", ".join([f"`{col}` VARCHAR(255)" if customers[col].dtype == object else f"`{col}` INT" for col in customers.columns])
create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns});"
cursor.execute(create_table_query)

# Step 2: Insert the DataFrame into the table
# Convert the DataFrame to a list of tuples for bulk insert
data_f = [tuple(row) for row in customers.itertuples(index=False, name=None)]

# Create the INSERT INTO query dynamically
placeholders = ", ".join(["%s"] * len(customers.columns))  # Create a placeholder for each column
insert_query = f"INSERT INTO `{table_name}` ({', '.join([f'`{col}`' for col in customers.columns])}) VALUES ({placeholders})"
cursor.executemany(insert_query, data_f)

conn.commit()

cursor.close()

conn.close()

In [13]:
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Smit@0101',
    database='store_sales'
)
cursor = conn.cursor()

############ CUSTOMER TABLE############################
table_name = 'products'  # Use your desired table name

# Generate the CREATE TABLE statement based on the DataFrame
columns = ", ".join([f"`{col}` VARCHAR(255)" if products[col].dtype == object else f"`{col}` INT" for col in products.columns])
create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({columns});"
cursor.execute(create_table_query)

# Step 2: Insert the DataFrame into the table
# Convert the DataFrame to a list of tuples for bulk insert
data_f = [tuple(row) for row in products.itertuples(index=False, name=None)]

# Create the INSERT INTO query dynamically
placeholders = ", ".join(["%s"] * len(products.columns))  # Create a placeholder for each column
insert_query = f"INSERT INTO `{table_name}` ({', '.join([f'`{col}`' for col in products.columns])}) VALUES ({placeholders})"
cursor.executemany(insert_query, data_f)

conn.commit()

cursor.close()

conn.close()